ul {
  list-style: none;
  padding: 0;
  margin-right: 11px;
  display: flex;
  font-size: 15px;
  overflow: auto;
  white-space: nowrap;
}
ol {
  list-style: none;
  padding: 0;
  margin-right: 11px;
  display: flex;
  font-size: 23px;
  overflow: auto;
  white-space: nowrap;
}

li {
  cursor: pointer;
  margin-left: 11px;
  margin-right: 11px;
}

li:last-child {
  margin-right: 0;
}

li.active {
  font-weight: bold;
}

ul + ul {
  margin-top: 10px;
}
